body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo-wrapper {
    padding: 50px;
    background-color: #fb0;
  }
  
  .logo {
    width: 200px;
  }
  
  .brewery-name-label {
    margin-top: 50px;
  }
  
  /* .breweries-list {
  
  } */