body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .showcase {
    font-size: 26px;
    text-align: center;
  }
  
  .logo-wrapper {
    padding: 50px;
    background-color: #fb0;
  }
  
  .logo {
    width: 200px;
  }
  
  .brewery-name-label {
    margin-top: 50px;
  }
  